body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
  }
  
  .myImage {
    max-width: 150px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    order: -1;
  }
  
  .main-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  main {
    background-color: #ccc;
    padding: 4px;
    color: #202020;
    font-family: "Roboto";
  }
  
  ul {
    padding: 0;
    display: flex;
  }
  
  ul li {
    list-style: none;
    margin: 0 10px;
  }
  
  h1,
  h2 {
    color: darkblue;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .experience {
    margin-bottom: 5px;
    border: 2px solid black;
    background-color: white;
    background-color: #ffffff;
    color: black;
    width: 400px;
  }
  
  @media screen and (max-width: 750px) {
    header {
      flex-direction: column;
      align-items: center;
    }
    .main-content {
      flex-direction: column;
    }
  }
  