body {
  padding: 1em;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background-color: #202020;
  align-items: flex-start;
  width: 100%;
  text-align: center;
  justify-content: space-around;
}

main {
  background-color: #ccc;
  padding: 0px;
  color: #202020;
  display: flex;
  height: 100%;
}
.border {
  background-color: aqua;
}

ul li {
  list-style: none;
  margin: 0 10px;
}

ul {
  padding: 0;
  display: flex;
}

h1,
h2 {
  color: darkblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.experience {
  margin-bottom: 5px;
  border: 2px solid red;
  background-color: white;
  background-color: #ffffff;
  color: black;
  width: 400px;
  font-family: "Open Sans", sans-serif;
  color: #222;
  flex: 4;
}

.studies {
  margin-bottom: 5px;
  border: 2px solid red;
  background-color: white;
  background-color: #ffffff;
  color: black;
  width: 400px;
  font-family: "Open Sans", sans-serif;
  color: #222;
  flex: 4;
}

.scop {
  background-color: #202020;
  color: yellowgreen;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer,
.aside {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  color: yellowgreen;
  align-items: center;
}

@media screen and (max-width: 750px) {
  header {
    align-items: center;
    flex-direction: column;
  }
  main {
    flex-direction: column;
  }
}
